Source: greetd
Section: x11
Priority: optional
Maintainer: zsien <i@zsien.cn>
Build-Depends:
 cargo:native <!nocheck>,
 debhelper-compat (= 13),
 dh-cargo (>= 24),
 libpam0g-dev,
 libstd-rust-dev <!nocheck>,
 rustc:native <!nocheck>,
 scdoc,
Standards-Version: 4.5.1
Homepage: https://git.sr.ht/~kennylevinsen/gtkgreet
Rules-Requires-Root: no

Package: agreety
Architecture: any
Depends:
 ${misc:Depends},
 ${shlibs:Depends},
Provides:
 greetd-greeter,
Description: simple, text-based greeter
 agreetd is the simple, text-based greeter of greetd.

Package: greetd
Architecture: any
Depends:
 adduser,
 greetd-greeter,
 ${misc:Depends},
 ${shlibs:Depends},
Provides:
 x-display-manager,
Description: login manager daemon
 greetd is a minimal and flexible login manager daemon
 that makes no assumptions about what you want to launch.
